.header{
    text-align: center;
    color: black;
    text-decoration: dashed black 30px;
}
.box{
    border: solid black 1px;
    border-radius: 10px;
    margin: 5px 0px 2px 0px;
    width: 98%;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items:center
}

.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
}
.datas{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
form{
    background-color: white ;
    border: solid black 1px;
    border-radius: 10px;
    width: 40%;
    height: 580px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: center;
    align-items: center;


}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    background-color: #f5f5f5;
}
hr{
    width: 60%;
    background-color: black;
    height: 1px;
}
p{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-self: flex-start;
}
#ddd{
    width: 40px;
}
.datas button{
    width: 700px;
}
