body{
    background-image: url(fundo.jpg);
    display: flex;
    justify-content: center;
    gap: 10px
}
/* aqui começa a personalização do menu */
.filha-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 20%;
    height: 320px;
    border: solid black 1px;
    border-radius: 10px ;
    border: none;
    background-color: #000000aa;
}
.dados{
    width: 90%;
    height: 10%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Bebas Neue", sans-serif;
}
.dados label{
    font-size: 30px;
    color: white;
    font-weight: lighter;   
}
.dados button{
    color: white;
    background-color: black;
    width: 36px;
    height: 36px;
    border: solid white 2px;
    border-radius: 18px;
    font-size: 20px;
}
.dados button:hover{
    background-color: rgb(56, 54, 54);
}
.dados button:active{
    background-color: rgb(56, 54, 54);
    transform: scale(0.98);
}
.filha-1 hr{
    width:  90%;
}
.dados span{
    font-size: 25px;
    color: white;
    margin: 1px 5px;
    font-weight: lighter;

}
.dados div{
    background-color: black;
    border: solid black 2px;
    height: 38px;
    border-radius: 19px;
    
}

/* aqui começa a personalização do robo e tals */
.filha-2{
    position: relative;     
    width: 35%;           
    margin: -1;         
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
}

.filha-2 img{
    width: 100%;
    position: absolute; 
    left: 0;
    top: 0;
}

.frente{
    z-index: 2;
}

.atras{
    z-index: 1;
}

/* área da imagem */
.img-area{
    position: relative;
    width: 100%;
    height: 350px; /* altura da área onde as imagens ficam */
}

/* botões */
.filha-2 button{
    width: 110px;
    height: 40px;
    margin-top: 170px;
    gap: 40px;
    position: relative;
    z-index: 3;

}
